body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
   
}
#chat{
    width:100%;
}
#display-message{
    width:80%;
    height:500px;
    float:left;
    background-color:#bfb8b8;
    overflow:auto;
}
#display-names{
    width:20%;
    float:left;
    height:500px;
    background-color:gray;
    overflow:auto;
}
#message{
    width:100%;
    background-color:#0094ff;
}
input[name="msg"]{
    width:94%;
    height:40px;
}
#enviar{
    width:6%;
    float:right;
    height:40px;
}
#display-names ul{
    padding:0;
    margin:0;
}
#display-names ul li{
    list-style:none;
    
}
#display-names ul li a{
    height:40px;
    display:block;
    background-color:#78aeb7;
    color:white;
    line-height:40px;
    text-align:center;
    border:1px solid #0026ff;
    
    
}
#display-names ul li a:hover{
    text-decoration:none;
    background-color:#0094ff;

}
#display-message ul li{
    margin-top:10px;
    list-style:none;
}
#display-message ul li span{
    font-weight:bold;
    font-size:15px;
}
